{% extends "message_viewer/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <form method="get">
        {{ filter.form|crispy }}
        <input type="submit" />
    </form>
    <p><br>Total number of messages:{{ page_obj|length }}</p>
    {% if page_obj|length > 100 %}
        <p>Showing first 100 results</p>
        {% with page_obj=page_obj|slice:"0:50" %}
            {% include "message_viewer/media_list.html" %}
        {% endwith %}
    {% else %}
        {% include "message_viewer/media_list.html" %}
    {% endif %}
{% endblock %}