{% extends "message_viewer/base.html" %}
{% block content %}
       <div class="card mb-3">
           <div class="card-header">
               {% if object.id != 0 %}
                <a href="{% url 'message-detail-prev' object.id %}"><<</a>
               {% endif %}
               {% firstof object.text|truncatechars:25 "Message" %}
               {# {% firstof object.grouped_id "" %} #}
               <a class="float-right" href="{% url 'message-detail-next' object.id %}">>></a>
               <small class="text-muted float-right">{{ object.date }}</small>
           </div>
           <div class="card-body">
               <p class="card-text">{{ object.text|linebreaks }}</p>

               {% if object.media_set %}
               {% for media in object.media_set.all %}
               {% if media.type %}
                <img class="card-img-top" src="http://127.0.0.1:8000/static/{{ media.media_path }}">
                <a href="{% url 'media-update' media.id %}" target="_blank">Update Tag</a>
                <a href="{% url 'image-parser-process' media.id %}" target="_blank">Process Image</a>
               {% else %}
                <a href="{% url 'media-update' media.id %}" target="_blank"><img class="card-img-top" src="http://127.0.0.1:8000/static/{{ media.media_path }}"></a>
               {% endif %}
               {% endfor %}
               {% endif %}
           </div>
       </div>
{% endblock content %}
